<div class="container-fluid">

  <div class="row">
    <div class="col-md-5">
      <div class="container-fluid">
        <div class="row">
          <!-- <div class="col-md-12">
                    <div class="row"> -->
          <div class="col-md-11 ml-4 text-secondary">
            <div class="row">
              <div class="col-md-12 border rounded mr-4 p-3 mb-4">
                <label for="profilePictureInput">
                  <div class="profile-picture-wrapper">
                    <img class="img-fluid mx-auto d-block p-5" src="assets/images/leslie.png" width:10 height:10
                      id="profilePicture">
                    <div class="upload-overlay">
                      <i class="fa fa-upload fa-5x"></i>
                      <span>Upload Picture</span>
                    </div>
                  </div>
                </label>
                <input type="file" id="profilePictureInput" class="d-none">
                <h5 class="h5-fluid text-center text-dark">Profile Name   <button class="btn edit-button" data-toggle="collapse" data-target="#aboutForm"><i class="fas fa-edit"></i></button></h5> 
                
               <div class="bg-info text-primary font-weight-bold bg-light rounded h-20 mb-4 text-center">
                  <form>
                    <!-- <label for="fileInput" class="form-label"> <img class="img-fluid " src="assets/images/upload 1.png">RESUME</label>
                                        <input type="file" class="form-control d-none" id="fileInput" name="fileInput"> -->
                    <!-- <button type="button" class="btn  btn-sm btn-outline-primary">Upload</button> -->
                    <label for="fileInput" class="form-label"><img class="img-fluid " src="assets/images/upload 1.png">RESUME</label>
                    <div class="input-group">
                      <input type="file" class="form-control" id="fileInput" aria-describedby="uploadButton">
                      <button class="btn btn-primary" type="button" id="uploadButton">Upload</button>
                    </div>
                  </form>
                </div>
                <textarea name="" id="" cols="30" rows="5">Profile summary</textarea> 
                <button class="btn edit-button" data-toggle="collapse" data-target="#aboutForm"><i class="fas fa-edit"></i></button>
              </div>
            </div>
          </div>
          <!-- </div>
                </div> -->
        </div>
      </div>

    </div>
    <div class="col-md-7">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-12 border rounded pb-4 mr-4 p-3 ">
                <h5 class="h5-fluid text-dark">SKILLS</h5>
                <ng-container *ngIf="!isEditMode; else editSection" >
                <ng-container >
                  <ul>
                    <li>SWIFT</li>
                  </ul>
                </ng-container>
                <hr>
                <div class="d-flex justify-content-end">
                <button class="btn edit-button" data-toggle="collapse" data-target="#aboutForm" (click)="toggleEditMode()" ><i class="fas fa-edit"></i></button>
                </div>
                <!-- <div *ngIf="errorMessage" [style.color]="'red'" [style.fontWeight]="'bold'">
                  <p>{{ errorMessage }}</p>
                </div> -->
                </ng-container>

                <ng-template #editSection>
                  <form #addSkill="ngForm" (ngSubmit)="updateSkill(addSkill.value)" >
                      <div class="form-group">
                          <!-- <textarea class="form-control" id="skillSection" name="skillSection"
                              [(ngModel)]="skillSection" required></textarea> -->
                              <select name="skills" style="width: 300px;" ngModel #skills="ngModel" >
                                <option *ngFor="let item of skill" >{{item.name}}</option>
                              </select>
                      </div>
                     
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button type="button" class="btn btn-secondary"
                         (click)="toggleEditMode()" >Cancel</button>
                  </form>
                </ng-template>
              </div>
          </div>


<br>
<div class="row">
  <div class="col-md-12 border rounded pb-4 mr-4 p-3 ">
    <h5 class="h5-fluid text-dark">Qualification</h5>
    <ng-container *ngIf="!isEditQualification; else editSections"  >
    <ng-container>
      <ul>
        <li>MBA</li>
      </ul>
      </ng-container>
    <hr>
    <div class="d-flex justify-content-end">
    <button class="btn edit-button" data-toggle="collapse" data-target="#aboutForm" (click)="toggleEditqualification()" ><i class="fas fa-edit"></i></button>
    </div>
    <!-- <div *ngIf="errorMessage" [style.color]="'red'" [style.fontWeight]="'bold'">
      <p>{{ errorMessage }}</p>
    </div> -->
    </ng-container>

    <ng-template #editSections>
      <form #addqualification="ngForm" (ngSubmit)="updateQualification(addqualification.value)"  >
          <div class="form-group">
              <!-- <textarea class="form-control" id="skillSection" name="skillSection"
                  [(ngModel)]="skillSection" required></textarea> -->
                  <select name="qualifications" style="width: 300px;" ngModel #qualifications="ngModel">

                    <option *ngFor="let item of qualification">{{item.name}}</option>
                  </select>
          </div>
         
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary"
          (click)="toggleEditqualification()"  >Cancel</button>
      </form>
    </ng-template>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-12 border rounded pb-4 mr-4 p-3 ">
    <h5 class="h5-fluid text-dark">WORKEXPERIENCE</h5>
    <ng-container *ngIf="!isEditworkexperience; else editexps" >
    <ng-container>
      <ul>
        <li>REACT JS DEVELOPER</li>
      </ul>
      </ng-container>
    <hr>
    <div class="d-flex justify-content-end">
    <button class="btn edit-button" data-toggle="collapse" data-target="#aboutForm" (click)="toggleEditexperience()"><i class="fas fa-edit"></i></button>
    </div>
    <!-- <div *ngIf="errorMessage" [style.color]="'red'" [style.fontWeight]="'bold'">
      <p>{{ errorMessage }}</p>
    </div> -->
    </ng-container>

    <ng-template #editexps>
      <!-- <form #experience="ngForm" (ngSubmit)="addexperience(experience.value)" >
          <div class="form-group">
              <label for="">JobTitle :</label>
              <input type="text" name="jobTitle"  placeholder="JobTitle" required [(ngModel)]="experience.jobTitle"><br>
              <label for="">CompanyName :</label>
              <input type="text" name="companyName" placeholder="CompanyName" required [(ngModel)]="experience.companyName"><br>
              <label for="">Summary :</label>
              <input type="text" name="summary"  placeholder="Summary" required [(ngModel)]="experience.summary"><br>
              <label for="">ServiceStart :</label>
              <input type="date" name="serviceStart" required [(ngModel)]="experience.serviceStart"><br>
              <label for="">ServiceEnd :</label>
              <input type="date" name="serviceEnd" required [(ngModel)]="experience.serviceEnd">
          </div>
         
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary"
          (click)="toggleEditexperience()" >Cancel</button>
      </form> -->

      <form (ngSubmit)= "addexperience(experience.value)" #experience = "ngForm">
        <div class="form-group">
            <label for="jobTitle">JobTitle :</label>
            <input type="text" name="jobTitle"  placeholder="JobTitle" required ngModel #jobTitle="ngModel"><br>
            <label for="companyName">CompanyName :</label>
            <input type="text" name="companyName" placeholder="CompanyName" required ngModel #companyName="ngModel"><br>
            <label for="summary">Summary :</label>
            <input type="text" name="summary"  placeholder="Summary" required ngModel #summary="ngModel"><br>
            <label for="serviceStart">ServiceStart :</label>
            <input type="date" name="serviceStart" required ngModel #serviceStart="ngModel"><br>
            <label for="serviceEnd">ServiceEnd :</label>
            <input type="date" name="serviceEnd" required ngModel #serviceEnd="ngModel">
        </div>
       
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary"
        (click)="toggleEditexperience()" >Cancel</button>
    </form>
    </ng-template>
  </div>
</div>
</div>


<!-- </div>
    </div> -->
</div>
</div>

</div>



          </div>
        </div>

      